### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [94]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
purchase_df = "C:/Users/dbruen/Documents/Data Analytics/CU Bootcamp Homework/04 Panda HW/Panda_HW_Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(purchase_df)

In [95]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [96]:
#First I want a full display of the columns:
purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [97]:
#Set variable for player count
player_count = len(purchase_data["SN"].unique())
player_count

576

In [98]:
#Create a summary table just for Player Count
players_summary_table = pd.DataFrame(data=[[player_count]], columns = ['Total Players'])
players_summary_table

   Total Players
0            576

## Player Count

* Display the total number of players

In [99]:
players_summary_table

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [100]:
#Run basic calculations to obtain number of unique items, average price, etc.
#Calculate 'Number of Unique Items'
unique_items = len(purchase_data["Item ID"].unique())
unique_items

183

In [101]:
#Calculate the 'Average Price'
avg_price = purchase_data["Price"].mean()
avg_price

3.050987179487176

In [102]:
#Calculate the 'Number of Purchases'
num_purchases = len(purchase_data["Purchase ID"].unique())
num_purchases

780

In [103]:
#Calculate the 'Total Revenue'
total_rev = purchase_data["Price"].sum()
total_rev

2379.77

In [104]:
#Create a summary table for the 'Purchase Analysis (Total)'
purchase_analysis_table = pd.DataFrame({"Number of Unique Items": [unique_items],
                                       "Average Price": [avg_price],
                                       "Number of Purchases": [num_purchases],
                                       "Total Revenue": [total_rev]})
purchase_analysis_table

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [169]:
# Group purchase_data by Gender
gender_stats = purchase_data.groupby("Gender")
gender_stats

# Count the total of screen names "SN" by gender
total_count_gender = gender_stats.nunique()["SN"]

# Total count by gender and divivde by total players 
percentage_of_players = total_count_gender / player_count * 100

# Create data frame with obtained values
gender_demographics = pd.DataFrame({"Total Count": total_count_gender, "Percentage of Players": percentage_of_players})

# Format the data frame with no index name in the corner
gender_demographics.index.name = None

# Format the values sorted by total count in descending order, and two decimal places for the percentage
gender_demographics.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [225]:
# Purchase Count by 'Gender'
# Organize purchase_data by 'Gender' again
gender_stats = purchase_data.groupby("Gender")
gender_stats

# Count the total of screen names "SN" by gender
total_count_gender = gender_stats.nunique()["SN"]
total_count_gender

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [220]:
# Purchase count by Gender/user
gender_stats = purchase_data.groupby("Gender")
gender_stats

gender_purch_count = gender_stats["Purchase ID"].count()
gender_purch_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [223]:
# Average Purchase Price per Gender/user
gender_stats = purchase_data.groupby("Gender")
gender_stats

gender_avg_px = round(gender_stats["Price"].mean(),2)
gender_avg_px

Gender
Female                   3.20
Male                     3.02
Other / Non-Disclosed    3.35
Name: Price, dtype: float64

In [226]:
# Total Purchase Value per Gender/user
gender_stats = purchase_data.groupby("Gender")
gender_stats

gender_purch_value = gender_stats["Price"].sum()
gender_purch_value

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [228]:
# Calculate 'Avg Total Purchase per Person'
gender_stats = purchase_data.groupby("Gender")
gender_stats

avg_total_purch_person = round(gender_purch_value/total_count_gender, 2)
avg_total_purch_person

Gender
Female                   4.47
Male                     4.07
Other / Non-Disclosed    4.56
dtype: float64

In [229]:
# Gender Purchase Analysis
# Organize purchase_data by 'Gender' again
gender_stats = purchase_data.groupby("Gender")
gender_stats

# Count the total of screen names "SN" by gender
total_count_gender = gender_stats.nunique()["SN"]
total_count_gender

## Create data frame with obtained values
gender_demo_summary = pd.DataFrame({"Purchase Count": total_count_gender,
                                    "Average Purchase Price": gender_avg_px,
                                   "Total Purchase Value": gender_purch_value,
                                   "Avg Total Purchase per Person": avg_total_purch_person})
gender_demo_summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,81,361.94,361.94,4.47
Male,484,1967.64,1967.64,4.07
Other / Non-Disclosed,11,50.19,50.19,4.56

In [5]:
#Optional: give the displayed data cleaner formatting
#Display the summary data frame

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [248]:
# Establish bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Segment and sort age values into bins established above
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],age_bins, labels=group_names)
purchase_data

# Create new data frame with the added "Age Group" and group it
age_grouped = purchase_data.groupby("Age Group")

# Count total players by age category
total_count_age = age_grouped["SN"].nunique()

# Calculate percentages by age category 
percentage_by_age = (total_count_age/player_count) * 100

# Create data frame with obtained values
age_demographics = pd.DataFrame({"Percentage of Players": percentage_by_age, "Total Count": total_count_age})

# Format the data frame with no index name in the corner
age_demographics.index.name = None

# Format percentage with two decimal places 
age_demographics.style.format({"Percentage of Players":"{:,.2f}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [252]:
# Create new data frame with the added "Age Group" and group it
age_grouped = purchase_data.groupby("Age Group")

# Purchase Count
aged_person_count = purchase_data.groupby("Age Group")["Purchase ID"].count()
aged_person_count

Age Group
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Purchase ID, dtype: int64

In [254]:
# Average Purchase Price
aged_avg_purch_px = round(purchase_data.groupby("Age Group")["Price"].mean(), 2)
aged_avg_purch_px

Age Group
<10      3.35
10-14    2.96
15-19    3.04
20-24    3.05
25-29    2.90
30-34    2.93
35-39    3.60
40+      2.94
Name: Price, dtype: float64

In [255]:
#Total Purchase Value
aged_total_val = purchase_data.groupby("Age Group")["Price"].sum()
aged_total_val

Age Group
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [258]:
#Avg Total Purchase per Person
aged_total_per_person = round(aged_total_val/total_count_age, 2)
aged_total_per_person

Age Group
<10      4.54
10-14    3.76
15-19    3.86
20-24    4.32
25-29    3.81
30-34    4.12
35-39    4.76
40+      3.19
dtype: float64

In [259]:
age_demo_analysis = pd.DataFrame({"Purchase Count": aged_person_count,
                                 "Average Purchase Price": aged_avg_purch_px,
                                 "Total Purchase Value": aged_total_val,
                                 "Avg Total Purchase per Person": aged_total_per_person})
age_demo_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Group,,,,
<10,23,3.35,77.13,4.54
10-14,28,2.96,82.78,3.76
15-19,136,3.04,412.89,3.86
20-24,365,3.05,1114.06,4.32
25-29,101,2.90,293.00,3.81
30-34,73,2.93,214.00,4.12
35-39,41,3.60,147.67,4.76
40+,13,2.94,38.24,3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [263]:
# Group purchase data by screen names
spender_stats = purchase_data.groupby("SN")

# Count the total purchases by name
purchase_count_spender = spender_stats["Purchase ID"].count()

# Calculate the average purchase by name 
avg_purchase_price_spender = spender_stats["Price"].mean()

# Calculate purchase total 
purchase_total_spender = spender_stats["Price"].sum()

# Create data frame with obtained values
top_spenders = pd.DataFrame({"Purchase Count": purchase_count_spender,
                             "Average Purchase Price": avg_purchase_price_spender,
                             "Total Purchase Value":purchase_total_spender})

# Sort in descending order to obtain top 5 spender names 
formatted_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()

# Format with currency style
formatted_spenders.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [264]:
# Retrieve the Item ID, Item Name, and Item Price columns
item_data = purchase_data[["Item ID", "Item Name", "Price"]]
item_data.head()

   Item ID                                  Item Name  Price
0      108  Extraction, Quickblade Of Trembling Hands   3.53
1      143                          Frenzied Scimitar   1.56
2       92                               Final Critic   4.88
3      100                                Blindscythe   3.27
4      131                                       Fury   1.44

In [268]:
#Group by Item ID and Item Name
item_analysis = item_data.groupby(["Item ID", "Item Name"])

In [274]:
# Perform calculations to obtain purchase count
item_purch_count = item_analysis["Price"].count()
item_purch_count

Item ID  Item Name
0        Splinter                           4
1        Crucifer                           3
2        Verdict                            6
3        Phantomlight                       6
4        Bloodlord's Fetish                 5
                                           ..
179      Wolf, Promise of the Moonwalker    6
180      Stormcaller                        1
181      Reaper's Toll                      5
182      Toothpick                          3
183      Dragon's Greatsword                3
Name: Price, Length: 183, dtype: int64

In [280]:
## Item Price
item_price = round(total_item_purch_val/item_purch_count, 2)
item_price

Item ID  Item Name
0        Splinter                           1.28
1        Crucifer                           3.26
2        Verdict                            2.48
3        Phantomlight                       2.49
4        Bloodlord's Fetish                 1.70
                                            ...
179      Wolf, Promise of the Moonwalker    4.48
180      Stormcaller                        3.36
181      Reaper's Toll                      1.66
182      Toothpick                          4.03
183      Dragon's Greatsword                1.09
Name: Price, Length: 183, dtype: float64

In [278]:
## Total purchase value
total_item_purch_val = item_analysis["Price"].sum()
total_item_purch_val

Item ID  Item Name
0        Splinter                            5.12
1        Crucifer                            9.78
2        Verdict                            14.88
3        Phantomlight                       14.94
4        Bloodlord's Fetish                  8.50
                                            ...
179      Wolf, Promise of the Moonwalker    26.88
180      Stormcaller                         3.36
181      Reaper's Toll                       8.30
182      Toothpick                          12.09
183      Dragon's Greatsword                 3.27
Name: Price, Length: 183, dtype: float64

In [281]:
# Item summary Data Frame
item_summ_table = pd.DataFrame({"Purchase Count": item_purch_count,
                               "Item Price": item_price,
                               "Total Purchase Value": total_item_purch_val})
item_summ_table

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
0,Splinter,4,1.28,5.12
1,Crucifer,3,3.26,9.78
2,Verdict,6,2.48,14.88
3,Phantomlight,6,2.49,14.94
4,Bloodlord's Fetish,5,1.70,8.50
...,...,...,...,...
179,"Wolf, Promise of the Moonwalker",6,4.48,26.88
180,Stormcaller,1,3.36,3.36
181,Reaper's Toll,5,1.66,8.30
182,Toothpick,3,4.03,12.09
183,Dragon's Greatsword,3,1.09,3.27

In [283]:
# Most popular items data frame (purchase count column in descending order)
popular_items = pd.DataFrame({"Purchase Count": item_purch_count,
                               "Item Price": item_price,
                               "Total Purchase Value": total_item_purch_val})
formatted_pop_items = popular_items.sort_values(["Purchase Count"], ascending=False)
formatted_pop_items.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [284]:
#Sort the above table by total purchase value in descending order
profitable_items = popular_items.sort_values(["Total Purchase Value"], ascending=False)
profitable_items.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
92,Final Critic,8,4.88,39.04
103,Singed Scalpel,8,4.35,34.80

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80